* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button::-moz-focus-inner {
  -moz-appearance: none;
       appearance: none;
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000356;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat_medium.eot");
  src: url("../fonts/montserrat_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat_medium.woff2") format("woff2"), url("../fonts/montserrat_medium.woff") format("woff"), url("../fonts/montserrat_medium.ttf") format("ttf"), url("../fonts/montserrat_medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat_semibold.eot");
  src: url("../fonts/montserrat_semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat_semibold.woff2") format("woff2"), url("../fonts/montserrat_semibold.woff") format("woff"), url("../fonts/montserrat_semibold.ttf") format("ttf"), url("../fonts/montserrat_semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat_bold.eot");
  src: url("../fonts/montserrat_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat_bold.woff2") format("woff2"), url("../fonts/montserrat_bold.woff") format("woff"), url("../fonts/montserrat_bold.ttf") format("ttf"), url("../fonts/montserrat_bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  height: 100%;
}

.wrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeInScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.mobile__popup::-webkit-scrollbar {
  display: none;
}

.mobile__popup {
  overflow: auto;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0;
  height: 0px;
  left: 0;
  bottom: 0;
  z-index: 99999;
  right: 0;
  background-color: white;
}

.mobile__popup .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.mobile__popup .button {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
}

.mobile__popup .mobile__logo {
  margin: 54px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__popup .mobile__links {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  color: #000356;
}

.mobile__popup .mobile__links span {
  margin-bottom: 20px;
}

.mobile__popup .mobile__bottom {
  margin-bottom: 100px;
}

.mobile__popup .mobile__number {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 26px;
}

.mobile__popup .mobile__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__popup .mobile__lang {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #454ada;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.popup {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__container {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation-name: fadeInScale;
          animation-name: fadeInScale;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  background: #b7c7fd;
  width: 800px;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 81px 0;
}

.popup__text {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 140%;
  margin-bottom: 62px;
  cursor: default;
}

.popup__input {
  width: 500px;
  margin: 0 0 28px 0;
}

.popup__input #name {
  padding: 41px 46px;
}

.popup__input #phone {
  padding: 41px 46px 41px 0;
  border-radius: 0px 18px 18px 0px;
}

.popup input {
  width: 100%;
  height: 20px;
  border-radius: 18px;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__phone span {
  border-right: none !important;
  padding: 0 8px 0 46px;
  background-color: white;
  border-radius: 18px 0px 0px 18px;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup label {
  font-weight: 500;
  font-size: 28px;
  line-height: 170%;
}

.popup__warning {
  display: none;
  height: 27px;
  font-weight: 600;
  font-size: 20px;
  color: #ed2222;
  line-height: 130%;
}

.popup__error {
  position: relative;
  top: -68px;
  left: 62%;
  display: none;
}

.popup__btn {
  margin: 0px 0 16px 0;
  cursor: pointer;
}

.popup__close {
  font-size: 33px;
  color: grey;
  font-weight: 900;
  position: fixed;
  top: 8px;
  right: 16px;
  cursor: pointer;
}

.warning .popup__warning {
  display: inline-block;
  margin-top: 8px;
}

.warning .popup__error {
  display: inline-block;
}

.warning input,
.warning span {
  border: 2px solid red;
}

.success {
  display: none;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success__message {
  background-color: #b7c7fd;
  border-radius: 18px;
  padding: 100px 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success__text {
  text-align: center;
  width: 580px;
  font-size: 34px;
  line-height: 140%;
}

.success .button {
  margin-top: 34px;
}

.success .close {
  font-size: 33px;
  color: grey;
  font-weight: 900;
  position: fixed;
  top: 8px;
  right: 16px;
  cursor: pointer;
}

.logo__sign {
  fill: #181c81;
}

.logo__sign:hover {
  fill: #6581be;
}

.logo__sign:active {
  fill: #181c81;
}

.button {
  font-family: "montserrat";
  background-color: #454ada;
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  padding: 17.5px 32px;
  text-transform: uppercase;
  border-radius: 87px;
}

.button:hover {
  background-color: #6581be;
}

.button:active {
  background-color: #000356;
}

.lang-ru {
  color: #000356;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}

.lang-ru:after {
  content: "\002F";
}

.lang-ru:hover {
  color: #454ada;
}

.lang-ru:hover:after {
  color: #000356;
}

.lang-uk {
  color: #000356;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}

.lang-uk:hover {
  color: #454ada;
}

.top__form .warning {
  border: 2px solid red;
}

.conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5a5a5a;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}

.conditions__year {
  margin: 0 12px 0 0;
}

.conditions__agreement:hover {
  color: #454ada;
}

.conditions__agreement:active {
  color: #000356;
}

.conditions__agreement:visited {
  color: #5a5a5a;
}

@media screen and (max-width: 900px) {
  .popup label {
    font-size: 24px;
  }
  .popup .button {
    font-size: 28px;
    padding: 14.5px 26px;
    margin: 0px 0 16px 0;
  }
  .popup__container {
    width: 500px;
    border-radius: 14px;
    padding: 36px 0;
  }
  .popup__text {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .popup__input {
    width: 300px;
    margin: 0 0 20px 0;
  }
  .popup__input #name {
    padding: 28px 30px;
  }
  .popup__input #phone {
    padding: 28px 46px 28px 0;
    border-radius: 0px 14px 14px 0px;
  }
  .popup input {
    padding: 28px 26px;
    border-radius: 14px;
    font-size: 22px;
  }
  .popup__phone {
    font-size: 22px;
  }
  .popup__phone span {
    padding: 0 8px 0 30px;
    font-size: 22px;
    border-radius: 14px 0px 0px 14px;
  }
  .popup__error {
    top: -55px;
    left: 52%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .popup__warning {
    font-size: 14px;
  }
  .success__message {
    border-radius: 14px;
    padding: 90px 80px;
  }
  .success__text {
    width: 400px;
    font-size: 24px;
  }
  .success .button {
    margin-top: 30px;
    font-size: 26px;
    padding: 15.5px 28px;
  }
}

@media screen and (max-width: 576px) {
  .popup label {
    font-size: 14px;
  }
  .popup .button {
    font-size: 18px;
    padding: 13.5px 37px;
    margin: 0px 0 16px 0;
  }
  .popup__container {
    width: 323px;
    border-radius: 12px;
    padding: 36px 0;
  }
  .popup__text {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .popup__input {
    width: 213px;
    margin: 0 0 20px 0;
  }
  .popup__input #name {
    padding: 25px 22px;
  }
  .popup__input #phone {
    padding: 25px 46px 25px 0;
    border-radius: 0px 12px 12px 0px;
  }
  .popup input {
    padding: 25px 22px;
    border-radius: 12px;
    font-size: 14px;
  }
  .popup__phone {
    font-size: 14px;
  }
  .popup__phone span {
    padding: 0 8px 0 22px;
    font-size: 14px;
    border-radius: 12px 0px 0px 12px;
  }
  .popup__error {
    top: -55px;
    left: 52%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0px 40px;
}

body {
  font-family: "montserrat";
  overflow-x: hidden;
  width: 100vw;
}

.header {
  margin: 85px 0 0 0;
  width: 100vw;
}

.header .mobile__menu {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  color: #000356;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  margin: 0 35px 0 0;
}

.header__phone:hover {
  color: #454ada;
}

.header__btn {
  font-size: 22px;
  line-height: 130%;
}

.main {
  color: #000356;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
}

.main__title {
  display: block;
  margin: 75px 0 60px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
}

.main__title:first-child {
  display: block;
  margin: 110px 0 60px 10px;
  font-weight: 700;
  font-size: 42px;
}

.main__return {
  display: block;
  margin: 25px 0 0 0;
}

.main__return:before {
  content: "\2B9C";
  padding: 0 20px 0 0;
}

.footer {
  margin: 100px 0 85px 0;
}

.footer__row {
  max-width: 1090px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 945px) {
  .header__row .lang {
    display: none;
  }
  .header__row .header__phone {
    display: none;
  }
  .header__btn {
    font-size: 20px;
    line-height: 130%;
    padding: 15.5px 28px;
  }
  .main__title {
    margin: 75px 0 60px 0;
    font-size: 24px;
    line-height: 140%;
  }
  .main__title:first-child {
    margin: 95px 0 50px 10px;
    font-size: 28px;
  }
  .main {
    font-size: 20px;
    line-height: 140%;
  }
  .conditions {
    font-size: 16px;
    line-height: 140%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
  }
  .footer .logo__sign {
    width: 270px;
  }
  .footer__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 576px) {
  .header__btn {
    display: none;
  }
  .header {
    margin: 53px 0 0 0;
  }
  .header .logo__sign {
    width: 155px;
  }
  .header .mobile__menu {
    display: block;
  }
  .main__title {
    margin: 35px 0 20px 0;
    font-size: 18px;
    line-height: 140%;
  }
  .main__title:first-child {
    margin: 60px 0 30px 0;
    font-size: 24px;
  }
  .main {
    font-size: 12px;
    line-height: 140%;
  }
  .conditions {
    font-size: 8px;
    line-height: 140%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__return {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer {
    margin: 60px 0 50px 0;
  }
  .footer .logo__sign {
    width: 155px;
  }
}
