@import "_nullstyle";
@import "_fonts";
@import "_global";
@import "_base";

html {
	scroll-behavior: smooth;
}

body {
	font-family: "montserrat";
	overflow-x: hidden;
	width: 100vw;
}
// .mobile__popup::-webkit-scrollbar {
// 	display: none;
// }
// .mobile__popup {
// 	overflow: auto;
// 	position: absolute;
// 	transition: 0.4s;
// 	top: 0;
// 	height: 0px;
// 	left: 0;
// 	bottom: 0;
// 	z-index: 99999;
// 	right: 0;
// 	background-color: white;
// 	.container {
// 		display: flex;
// 		flex-direction: column;
// 		height: 100%;
// 	}
// 	.button {
// 		font-weight: 600;
// 		font-size: 18px;
// 		line-height: 130%;
// 	}

// 	.mobile__logo {
// 		margin: 54px 0;
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;
// 	}
// 	.mobile__links {
// 		flex-grow: 1;
// 		display: flex;
// 		flex-direction: column;
// 		font-weight: bold;
// 		font-size: 20px;
// 		line-height: 140%;
// 		color: #000356;
// 		span {
// 			margin-bottom: 20px;
// 		}
// 	}
// 	.mobile__bottom {
// 		margin-bottom: 100px;
// 	}
// 	.mobile__number {
// 		font-weight: 600;
// 		font-size: 18px;
// 		line-height: 140%;
// 		margin-bottom: 26px;
// 	}
// 	.mobile__row {
// 		display: flex;
// 		justify-content: space-between;
// 	}
// 	.mobile__lang {
// 		font-weight: 500;
// 		font-size: 14px;
// 		line-height: 140%;
// 		color: #454ada;
// 		align-self: center;
// 	}
// }

.header {
	padding: 100px 0 0 0;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0%;
	right: 0;
	.mobile__menu {
		display: none;
		align-self: flex-start;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		margin: 0 15px;
	}

	&__list {
		display: flex;
		font-size: 24px;
	}

	&__item {
		&:nth-child(2) {
			padding: 0 35px;
		}
	}

	&__link {
		transition: 0.2s;
		color: #000356;
		&:hover {
			color: #454ada;
		}
	}
	&__phone {
		font-weight: 600;
		font-size: 20px;
		color: #000356;
		padding: 0 38px 0 0;
		&:hover {
			color: #6581be;
		}
	}

	&__btn {
		font-size: 22px;
		line-height: 29px;
		padding: 18px 26px;
		letter-spacing: 0.03em;
		border-radius: 180px;
	}

	// @keyframes fadeInOpacity {
	// 	0% {
	// 		opacity: 0;
	// 	}
	// 	100% {
	// 		opacity: 1;
	// 	}
	// }
	// @keyframes fadeInScale {
	// 	0% {
	// 		transform: scale(0);
	// 	}
	// 	100% {
	// 		transform: scale(1);
	// 	}
	// }
	// .popup {
	// 	transition: opacity 0.3s;
	// 	opacity: 1;
	// 	animation-name: fadeInOpacity;
	// 	animation-iteration-count: 1;
	// 	animation-timing-function: ease-in;
	// 	animation-duration: 0.3s;
	// 	z-index: 999999;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	height: 100vh;
	// 	overflow-y: hidden;
	// 	width: 100%;
	// 	background-color: rgba(0, 0, 0, 0.3);
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;

	// 	&__container {
	// 		transition: 0.3s;
	// 		animation-name: fadeInScale;
	// 		animation-iteration-count: 1;
	// 		animation-timing-function: ease-in;
	// 		animation-duration: 0.2s;
	// 		background: #b7c7fd;
	// 		width: 800px;
	// 		border-radius: 18px;
	// 		display: flex;
	// 		flex-direction: column;
	// 		align-items: center;
	// 		padding: 81px 0;
	// 	}
	// 	&__text {
	// 		font-style: normal;
	// 		font-weight: bold;
	// 		font-size: 42px;
	// 		line-height: 140%;
	// 		margin-bottom: 62px;
	// 		cursor: default;
	// 	}
	// 	&__input {
	// 		width: 500px;
	// 		margin: 0 0 28px 0;
	// 	}
	// 	input {
	// 		padding: 41px 46px;
	// 		width: 100%;
	// 		height: 20px;
	// 		border-radius: 18px;
	// 		font-weight: 500;
	// 		font-size: 28px;
	// 		line-height: 140%;
	// 		display: flex;
	// 		flex-direction: column;
	// 	}
	// 	&__phone {
	// 		display: flex;
	// 		span {
	// 			padding: 0 8px 0 20px;
	// 			background-color: white;
	// 			border-radius: 18px 0px 0px 18px;
	// 			font-weight: 500;
	// 			font-size: 28px;
	// 			line-height: 140%;
	// 			display: flex;
	// 			justify-content: center;
	// 			align-items: center;
	// 		}
	// 	}
	// 	label {
	// 		font-weight: 500;
	// 		font-size: 28px;
	// 		line-height: 170%;
	// 	}
	// 	&__warning {
	// 		display: none;
	// 		height: 27px;
	// 		font-weight: 600;
	// 		font-size: 20px;
	// 		color: #ed2222;
	// 		line-height: 130%;
	// 	}
	// 	&__error {
	// 		position: relative;
	// 		top: -68px;
	// 		left: 62%;
	// 		display: none;
	// 	}
	// 	&__btn {
	// 		margin: 0px 0 16px 0;
	// 		cursor: pointer;
	// 	}
	// 	&__close {
	// 		font-size: 33px;
	// 		color: grey;
	// 		font-weight: 900;
	// 		position: fixed;
	// 		top: 8px;
	// 		right: 16px;
	// 		cursor: pointer;
	// 	}
	// }
	// .success {
	// 	display: none;
	// 	z-index: 99999;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	height: 100vh;
	// 	overflow-y: hidden;
	// 	width: 100%;
	// 	background-color: rgba(0, 0, 0, 0.3);
	// 	justify-content: center;
	// 	align-items: center;
	// 	&__message {
	// 		background-color: #b7c7fd;
	// 		border-radius: 18px;
	// 		padding: 100px 110px;
	// 		display: flex;
	// 		flex-direction: column;
	// 		justify-content: center;
	// 		align-items: center;
	// 	}
	// 	&__text {
	// 		text-align: center;
	// 		width: 580px;
	// 		font-size: 34px;
	// 		line-height: 140%;
	// 	}
	// 	.button {
	// 		margin-top: 34px;
	// 	}
	// 	.close {
	// 		font-size: 33px;
	// 		color: grey;
	// 		font-weight: 900;
	// 		position: fixed;
	// 		top: 8px;
	// 		right: 16px;
	// 		cursor: pointer;
	// 	}
	// }
}
// .warning .popup__warning {
// 	display: inline-block;
// 	margin-top: 8px;
// }
// .warning .popup__error {
// 	display: inline-block;
// }
// .warning input,
// .warning span {
// 	border: 2px solid red;
// }

.solutions {
	background: url("../img/main.png") no-repeat;
	background-position: right bottom;
	background-size: 40%;
	padding-top: 165px;

	.container {
		height: calc(100vh - 165px);
		display: flex;
		align-items: center;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
		display: block;
		width: 54%;
		min-width: 700px;
		font-weight: 700;
		font-size: 60px;
		line-height: 84px;
		&-color {
			color: #454ada;
		}
	}
	&__pic {
		display: block;
		max-width: 81.25rem;
	}
}

.why {
	width: 100%;
	padding: 140px 0;
	color: #000356;
	&__title {
		display: block;
		font-weight: 700;
		font-size: 42px;
		line-height: 58px;
	}

	&__text {
		display: block;
		font-weight: 500;
		font-size: 28px;
		line-height: 36px;
		margin: 15px 0 125px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		// flex-wrap: wrap;
	}
	// &__item_animated {
	// 	opacity: 0;
	// 	transform: translateY(200px);
	// }
	.item {
		flex-grow: 1;
		&__row {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__circle {
			width: 400px;
			height: 400px;
			background-color: #b7c7fd;
			border-radius: 50%;
			position: relative;
			overflow: hidden;
			&_pic {
				transition: 0.5s;
				display: block;
				position: absolute;
				top: 0%;
				left: 0%;
				width: 100%;
			}
		}

		&__title {
			margin: 30px 0 8px 0;
			font-weight: 600;
			font-size: 36px;
			line-height: 50px;
		}

		&__text {
			font-weight: 500;
			font-size: 28px;
			line-height: 38px;
		}
		&:hover .item__circle_pic {
			transform: scale(1.2);
		}
	}
}

.what {
	background-color: #454ada;
	padding: 120px 0;
	&__title {
		display: block;
		color: #fff;
		font-weight: 700;
		font-size: 42px;
		line-height: 59px;
		margin: 0 0 40px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	.item {
		transition: 0.4s;
		height: 100%;
		max-height: 1000px;
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		border: 6px solid #000;
		border-radius: 17px;
		background-color: #fff;
		color: #000356;
		margin: 0 30px 0 0;

		&__wrapper {
			flex: 1;
			padding: 50px 50px 0 0;
			&:first-of-type:hover > .item {
				transform: scale(1.05) translate(-18px, -18px);
				box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
			}
			&:last-of-type:hover > .item {
				transform: scale(1.05) translate(18px, -18px);
				box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
			}
			&:last-of-type:hover > .what__circle {
				transform: scale(1.05) translate(24px, -24px);
			}
		}

		&:last-child {
			margin: 0;
		}
		&__title {
			display: block;
			font-weight: 700;
			font-size: 38px;
			line-height: 59px;
			margin: 90px 0 18px;
		}

		&__caption {
			display: block;
			font-weight: 500;
			font-size: 22px;
			line-height: 31px;
		}

		&__list {
			font-weight: 500;
			font-size: 24px;
			line-height: 39px;
			margin: 95px 0 80px 0;
		}

		&__point {
			margin: 0 0 28px 0;
			padding: 0 0 0 30px;
			position: relative;
			&:last-child {
				margin: 0 0 0 0;
			}
			&:before {
				content: url("../img/circle.svg");
				position: absolute;
				top: -10%;
				left: -5%;
			}
		}

		&__price {
			align-self: flex-end;
			font-weight: 700;
			font-size: 38px;
			line-height: 59px;
			color: #454ada;
			margin: auto 135px 80px 0;
		}
	}
	&__circle {
		transition: width 0.4s, height 0.4s, transform 0.4s;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		left: 74%;
		top: -1116px;
		width: 213px;
		height: 213px;
		border-radius: 50%;
		background-color: #b7c7fd;
	}

	&__adaptive {
		color: #000356;
		font-weight: 500;
		font-size: 24px;
		line-height: 34px;
		transform: rotate(-28.23deg);
		width: 61%;
	}
}
.quote {
	z-index: 1;
	padding: 140px 0;
	overflow: hidden;
	&__row {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__text {
		z-index: 2;
		display: block;
		min-width: 1100px;
		font-family: "montserrat";
		font-weight: 600;
		font-size: 60px;
		line-height: 150%;
		&-color {
			color: #454ada;
		}
	}
	&__img {
		width: 100%;
		z-index: 1;
	}
	&__circle {
		position: absolute;
		top: 23%;
		left: -34%;
		width: 1304px;
		height: 1304px;
		border-radius: 50%;
		background-color: #b7c7fd;
		opacity: 20%;
	}
}

.how {
	padding: 140px 0;
	color: #000356;
	&__title {
		display: block;
		font-weight: 700;
		font-size: 42px;
		line-height: 59px;
		margin: 0 0 85px 0;
	}

	&__item {
		margin: 0 0 60px 125px;
		&:last-child {
			margin: 0 0 0 125px;
		}
	}

	&__row {
		display: flex;
		align-items: center;
	}

	&__number {
		font-weight: 700;
		font-size: 96px;
		line-height: 134px;
		opacity: 0.2;
		margin: 0 25px 20px 0;
	}

	&__caption {
		font-weight: 600;
		font-size: 36px;
		line-height: 50px;
	}

	&__text {
		display: block;
		max-width: 1135px;
		font-weight: 500;
		font-size: 28px;
		line-height: 39px;
	}
}

.footer {
	.top {
		color: #000356;
		background-color: #b7c7fd;
		padding: 140px 0;
		&__row {
			display: flex;
			justify-content: space-between;
		}
		&__title {
			margin: 0 45px 0 0;
			max-width: 600px;
			font-weight: 700;
			font-size: 60px;
			line-height: 84px;
		}
		&__pic {
			position: absolute;
			left: -8%;
			bottom: -59%;
		}
		.form {
			label {
				display: block;
				font-weight: 500;
				font-size: 28px;
				line-height: 39px;
				margin: 0 0 25px 0;
			}
			input {
				display: block;
				padding: 41px 46px;
				width: 410px;
				height: 20px;
				border-radius: 18px;
				font-weight: 500;
				font-size: 28px;
				line-height: 140%;
			}
			.button {
				width: fit-content;
			}
			textarea {
				width: 750px;
				padding: 40px 110px 70px 50px;
				resize: none;
				border-radius: 18px;
				overflow: hidden;
				font-size: 28px;
				font-weight: 500;
				line-height: 39px;
			}
			&__name {
				margin: 0 0 25px 0;
			}
			&__phone {
				margin: 0 0 25px 0;
			}
			&__project {
				margin: 0 0 65px 0;
			}
		}
	}

	.bot {
		padding: 80px 0 60px 360px;
		height: 470px;
		position: relative;
		&__inner {
			max-width: 1200px;
			margin: 0 auto;
		}
		&__row {
			max-width: 1140px;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}

		&__col {
			padding: 42px 0 0 0;
			margin: 0 65px 0 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__logo {
			margin: 0 0 50px 0;
		}

		&__title {
			color: #000356;
			font-size: 24px;
			line-height: 34px;
			font-weight: 500;
		}

		&__email {
			margin: 32px 0 10px 0;
			color: #000356;
			font-size: 24px;
			line-height: 34px;
			font-weight: 500;
		}
		&__contacts {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 24px;
			font-weight: 500;
		}
		&__phone {
			color: #000356;
		}

		&__tg {
			margin: 32px;
			fill: #454ada;
			&:hover {
				fill: #6581be;
			}
			&:active {
				fill: #000356;
			}
		}
		&__col_lang {
			padding: 42px 0 0 0;
			display: flex;
			align-items: flex-end;
			align-self: flex-start;
		}
		&__lang-ru {
			color: #000356;
			font-weight: 600;
			font-size: 24px;
			line-height: 140%;
			&::after {
				content: "\002F";
			}
		}
		&__lang-ua {
			color: #000356;
			font-weight: 600;
			font-size: 24px;
			line-height: 140%;
		}
	}
}
@media screen and (max-width: 1075px) {
	.what {
		.item {
			height: 670px;
			width: 420px;
			&__wrapper {
				padding: 0 0 0 0px !important;
			}
		}
		&__circle {
			display: none;
		}
		&__row {
			justify-content: space-between !important;
		}
	}
}
@media screen and (max-width: 1600px) {
	.what {
		.what__row {
			// flex-direction: column;
			// align-items: center;
			justify-content: center;
		}
		&__item {
			padding: 0 40px;
			width: 100%;
			height: 675px;
		}
		.item__caption {
			font-size: 19px;
			line-height: 26px;
		}
		&__adaptive {
			font-size: 15px;
			line-height: 20px;
		}
		&__circle {
			top: -742px;
			left: 380px;
			position: relative;
			width: 140px;
			height: 140px;
		}

		.item__wrapper {
			//width: 540px;
			margin-bottom: 30px;
			padding: 20px 20px 0 0px;
			flex: none;
		}
		.item__title {
			font-size: 28px;
			line-height: 38px;
			margin: 24px 0 16px;
		}
		.item__point:before {
			transform: scale(0.55);
			top: -70%;
			left: -3%;
		}
		.item__list {
			font-size: 18px;
			line-height: 18px;
			margin: 50px 0 0px 0;
		}
		.item__price {
			font-size: 25px;
			line-height: 30px;
			margin: auto 0px 44px 0;
		}
	}
}
@media screen and (max-width: 1365px) {
	.container {
		padding: 0px 40px;
	}
	.header__menu,
	.header__phone,
	.header__btn {
		display: none;
	}
	.header {
		padding: 28px 0 0 0;
		.mobile__menu {
			display: block;
		}
	}

	.solutions {
		// height: calc(100vh - 40px);
		height: 100vh;
		background-size: 50%;
		padding-top: 68px;
		&__text {
			min-width: 350px;
			font-weight: 700;
			font-size: 40px;
			line-height: 60px;
			width: 75%;
		}
	}

	.why {
		padding: 60px 0;
		.item__circle {
			width: 250px;
			height: 250px;
		}
		.item__text {
			font-size: 18px;
			line-height: 16px;
		}
		.item__title {
			font-size: 24px;
		}
		.why__text {
			font-size: 24px;
		}
		.why__title {
			font-size: 32px;
		}
	}

	.quote {
		&__text {
			min-width: 500px;
			font-size: 34px;
			line-height: 140%;
		}
		&__img {
			width: 50%;
		}
		&__circle {
			top: 3%;
			left: -16%;
			width: 650px;
			height: 650px;
		}
	}
	.footer {
		.logo__sign {
			width: 250px;
		}
		.button {
			font-size: 28px;
			padding: 20px 46px;
		}
		.top {
			padding: 140px 0 60px 0;
		}
		.top__row {
			justify-content: normal;
		}
		.top__title {
			font-size: 40px;
			line-height: 62px;
			margin: 0px 135px 0 0;
		}
		.top__pic {
			width: 500px;
			left: -10%;
		}
		.bot {
			padding: 80px 0 70px 240px;
			height: 410px;
		}
		.bot__terms {
			font-size: 16px;
			line-height: 22px;
		}
		.bot__col {
			margin: 0px 12px 0 0;
		}
		.bot__tg {
			margin: 16px;
		}
		.bot__contacts {
			font-size: 14px;
		}
		.bot__title {
			font-size: 20px;
			line-height: 30px;
		}
		.bot__email {
			font-size: 20px;
			line-height: 30px;
		}
		.bot__lang-ua,
		.bot__lang-ru {
			font-size: 18px;
		}
		.top .form__name {
			margin: 0 0 14px 0;
		}
		.top .form__phone {
			margin: 0 0 14px 0;
		}
		.top .form__project {
			margin: 0 0 50px 0;
		}
		.top .form textarea {
			width: 500px;
			height: 300px;
			padding: 32px 40px 32px 50px;
			font-size: 24px;
		}
		.top .form input {
			padding: 32px 28px;
			font-size: 24px;
		}
		.top .form label {
			font-size: 24px;
			line-height: 30px;
			margin: 0px 0 12px 0;
		}
	}
}

@media screen and (max-width: 945px) {
	.solutions {
		background-size: 55%;
		&__text {
			font-weight: 700;
			font-size: 28px;
			line-height: 40px;
			width: 60%;
		}
		.container {
			align-items: self-start;
		}
		&__row {
			margin-top: 100px;
		}
	}
	.what {
		padding: 80px 0 0 0;
		&__row {
			justify-content: space-between !important;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin: 0 !important;
		}
		.item__wrapper {
			margin-bottom: 60px;
		}
		&__circle {
			display: flex;
			top: -696px;
			left: 358px;
			width: 100px;
			height: 103px;
		}
		&__adaptive {
			font-size: 11px;
			line-height: 18px;
		}
	}
	.why {
		&__title {
			font-size: 28px !important;
		}
		&__text {
			font-size: 18px !important;
			margin: 15px 0 75px 0;
		}
		.item:last-of-type {
			margin: 0;
		}
		.item {
			margin: 0 10px 24px 0;
			&__circle {
				width: 175px;
				height: 175px;
			}
			&__text {
				font-size: 14px;
				line-height: 10px;
			}
			&__title {
				font-size: 20px;
			}
		}
	}
	.quote {
		padding: 140px 0 0 0;
		&__text {
			min-width: 0;
			max-width: 388px;
			font-size: 28px;
			line-height: 139%;
			align-self: auto;
		}
		&__row {
			display: flex;
			flex-direction: column;
		}
		&__img {
			align-self: flex-end;
		}
		&__circle {
			top: -30%;
			left: -38%;
			width: 550px;
			height: 550px;
		}
	}
	.how {
		&__caption {
			font-size: 28px;
		}
		&__text {
			font-size: 20px;
			line-height: 32px;
		}
		&__item {
			margin-left: 0;
		}
		.how__item:last-child {
			margin: 0;
		}
	}
	.footer {
		.top {
			overflow: hidden;
		}
		.top__title {
			font-size: 24px;
			line-height: 36px;
		}
		.top .form label {
			font-size: 16px;
			line-height: 18px;
			margin: 0px 0 4px 0;
		}

		.button {
			font-size: 18px;
			padding: 16px 50px;
		}
		.top__pic {
			transform: scale(-0.6, 0.6);
			bottom: -249px;
			left: 261px;
		}
		.top .form input {
			padding: 18px 16px;
			width: 250px;
			font-size: 16px;
			border-radius: 7px;
		}
		.top .form textarea {
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			width: 330px;
			height: 170px;
			padding: 15px 20px 15px 18px;
			border-radius: 7px;
		}
		.top__row {
			flex-direction: column;
		}
		.bot {
			padding: 50px 0 58px 40px;
			height: 325px;
		}
		.bot__lang-ua,
		.bot__lang-ru {
			font-size: 14px;
		}
		.conditions {
			font-size: 16px;
		}
		.logo__sign {
			width: 175px;
		}
		.bot__terms {
			font-size: 14px;
		}
		.bot__title {
			font-size: 16px;
			line-height: 24px;
		}
		.bot__email {
			font-size: 16px;
			line-height: 23px;
		}
		.bot__tg {
			margin: 0;
		}
	}
}

@media screen and (max-width: 576px) {
	.logo__sign {
		width: 155px;
		height: 19px;
	}
	.solutions {
		max-height: 660px;
		background-size: 60%;
		&__text {
			font-size: 24px;
			min-width: 275px;
			width: 275px;
		}
	}

	.what {
		.item__wrapper:last-of-type {
			margin-bottom: 0px;
		}
		overflow: hidden;
		&__title {
			font-size: 18px;
		}
		.item {
			width: 280px;
			height: 380px;
			padding: 0px 15px;
			border: 3px solid #000;
			&__caption {
				display: none;
			}
			&__title {
				font-size: 18px;
			}
			&__list {
				font-size: 12px;
				margin: 0px 0 0px 0;
			}
			&__point {
				margin: 0 0 10px 0;
			}
			&__point:before {
				-webkit-transform: scale(0.55);
				transform: scale(0.4);
				top: -86%;
				left: -3%;
			}
			&__price {
				font-size: 18px;
			}
			.what__circle {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				top: -411px;
				left: 224px;
				width: 80px;
				height: 80px;
			}
		}
		&__circle {
			top: -411px;
			left: 224px;
			width: 80px;
			height: 80px;
		}
		&__adaptive {
			font-size: 9px;
			line-height: 10px;
		}
	}
	.why {
		&__row {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		&__title {
			font-size: 18px !important;
		}
		&__text {
			font-size: 12px !important;
			line-height: 22px;
			margin-top: 0;
		}
	}
	.quote {
		&__text {
			font-size: 24px;
		}
	}
	.how {
		&__title {
			font-size: 18px;
			line-height: 24px;
			margin: 0px 0px 20px;
		}
		&__item {
			margin: 0px 0 28px 0px;
		}
		&__number {
			font-size: 48px;
			line-height: 55px;
			margin: 0 25px 0px 0;
		}
		&__caption {
			font-size: 18px;
		}
		&__text {
			font-size: 12px;
			line-height: 140%;
		}
	}
	.footer {
		.top .form label {
			font-size: 12px;
			line-height: 18px;
			margin: 16px 0 4px 0;
		}
		.top .form input {
			padding: 19px 16px;
			width: 180px;
			font-size: 10px;
			border-radius: 7px;
		}
		.top .form textarea {
			font-size: 10px;
			line-height: 140%;
			width: 280px;
			height: 100px;
			padding: 18px 50px 24px 22px;
		}
		.top__pic {
			transform: scale(-0.4, 0.4);
			left: 30%;
		}
		.conditions {
			flex-direction: column;
			font-size: 10px;
		}
		.button {
			font-size: 14px;
			padding: 14px 40px;
		}

		.top .form__project {
			margin: 0px 0 30px 0;
		}
		.bot__title {
			font-size: 12px;
			font-weight: 600;
			line-height: 18px;
		}
		.bot {
			padding: 50px 0 20px 28px;
			height: 215px;
		}
		.bot__row {
			align-items: flex-start;
		}
		.bot__col {
			padding: 0;
		}
		.bot__col_lang {
			padding: 0;
			display: none;
		}
		.bot__logo {
			margin: 0 0 22px 0;
		}
		.logo__sign {
			width: 134px;
		}
		.bot__email {
			font-size: 10px;
			margin: 7px 0 7px 0;
			line-height: 18px;
		}
		.bot__contacts {
			font-size: 10px;
		}
		.bot__tg svg {
			width: 24px;
			height: 24px;
		}
	}
}
