@import "_nullstyle";
@import "_fonts";
@import "_global";
@import "_base";

html {
	scroll-behavior: smooth;
}

body {
	font-family: "montserrat";
	overflow-x: hidden;
	width: 100vw;
}

.header {
	margin: 85px 0 0 0;
	&__row {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__contacts {
	}

	&__phone {
		color: #000356;
		font-weight: 600;
		font-size: 20px;
		line-height: 130%;
		margin: 0 35px 0 0;
		&:hover {
			color: #454ada;
		}
	}
	&__btn {
		font-size: 22px;
		line-height: 130%;
	}
}

.main {
	color: #000356;
	font-weight: 500;
	font-size: 28px;
	line-height: 140%;
	&__title {
		display: block;
		margin: 75px 0 60px 0;
		font-weight: 600;
		font-size: 36px;
		line-height: 140%;
		&:first-child {
			display: block;
			margin: 110px 0 60px 10px;
			font-weight: 700;
			font-size: 42px;
		}
	}
	&__return {
		display: block;
		margin: 25px 0 0 0;

		&:before {
			content: "\2B9C";
			padding: 0 20px 0 0;
		}
	}
}

.footer {
	margin: 100px 0 85px 0;
	&__row {
		max-width: 1090px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}
